body {
  margin: 0px;
  font: 14px "Century Cothic", Futura, sans-serif;
  text-align: center;
}

.board {
  align-content: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  margin: 0px
}

.hovered {
  background-color: aqua
}

.row {
  background: #fff;
  margin: 0px
}

button {
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin: 0px;
}